
div {
          padding:0;
          margin:5% 0 0 0;
          border:0;
          text-align:center;
          vertical-align:text-center;
          background-color:rgba(0,0,0,0);
          color:black;
          font-size:32px;
          font-family:impact;
          width:28%;
          
}
body {
  backgrond-color:black;
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  
}

button {
  color:yellow;
  border-radius:50%;
  font-size:36px;
  padding:5%;
  border:2px solid black;
  font-family: impact;
  background-color:black;
}
.button {
  position: fixed;
  bottom: 5%;
  margin-right: auto;
  margin-left: auto;
}
p.quoteText {
  color:black;
  text-shadow: 1px 2px white;
  padding:1%;
}
p.authorText {
  color:black;
  text-shadow: 2px 0 yellow, 0 1px yellow, -1px 0 white, 0 -1px white;
}
.bird {
  font-size:40px;
  background-color:yellow;
  padding:4px;
  margin:10px;
}

#bgImg {
background-image: url("photos/garyV.jpg");
}