
body {
  background-color:white;
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  
}

ul {
  display: inline;
  list-style: none;
}

li {
  padding:1em;
}

.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align:left;
}

.newQuote {
  background-color:yellow;
  border-radius:50%;
  padding: 1em;
  font-size:1.5em;
  font-weight:700;
  border-color:black;
}

.tweet {
  background-color:#00aced;
  border-radius:50%;
  padding: 1em;
  font-size:1.5em;
  font-weight:700;
  border-color:black;
}

#quote {
   margin-top:5px;
  margin-bottom:5px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size:1.5em;
  padding:0.2em 0;
}

#author {
    margin-top:5px;
    margin-bottom:5px;
    font-family: impact, cursive, sans-serif;
    color:#2F4F4F;
    font-size:1.5em;
    padding:0.2em 0;
}

#bgImg {
background-image: url("photos/garyV.jpg");
}